.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  body.no-scroll {
    overflow: hidden;
}